<div class="d-flex justify-content-center">
    <div class="display-2">
    <h3><%= @user.first_name %> has <%= @user.posts.count %> posts</h3>
    <% current_user.posts.each_with_index do |post, i| %>
     <%= link_to "#{i+1}", post_path(post), :class => 'post_link'%>
    </div>
    <% end %>
</div>
