<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
      </h1>
     <%= link_to('Edit Profile', edit_user_registration_path, class:"text-primary clearfix d-block") %>
    </section>
  </aside>
</div>
<% @user.posts.each do |p| %>
    <%= p.body %><br>
<% end %>